.modal-content {
    background-color: orange !important;
}

/* Bouton 'connect' du modal de post */
input[type="submit"], #connect_btn_modal{
    font-size: 1em;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: #000000;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

input[type="submit"]:hover, #connect_btn_modal:hover {
    cursor: pointer;
    background-color: #FFA500;
}


/* Champs de saisie 'pseudo' et 'message' */
input[type="text"][name="pseudo"], 
textarea[name="message"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
/* Taille champ de sasie 'message' */
textarea[name="message"] {
    height: 200px;
    resize: none;
}

/* Meilleur focus lorsque j'écris */
input[type="text"]:focus, textarea:focus {
    outline: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}


/* Animation d'apparition du modal de post */
@keyframes fadeIn {
    0% { opacity: 0; transform: scale(0.95); }
    100% { opacity: 1; transform: scale(1); }
}

.modal.fade.show {
    animation: fadeIn 0.5s ease-in-out;
}