@import url(component/home.css);
@import url(component/profile.css);
@import url(component/sidenav.css);
@import url(component/msg.css);


#search-bar {
    display: flex;
    justify-content: center;
    margin-top: -2vh; 
    margin-left: 45%; 
}

/* Boutons de tri */
.btn-group {
    display: flex;
    justify-content: center;
    margin-top: -2vh; 
    margin-left: 10%; 
}









