body {
    background-color: black !important;
    font-family: "Helvetica Neue", sans-serif;
    color: #ffffff;
}


/* Meilleur focus lorsque j'écris */
input[type="text"]:focus, textarea:focus {
    outline: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}




/* Champs de saisie 'pseudo' et 'message' */
input[type="text"][name="pseudo"], 
textarea[name="message"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
/* Taille champ de sasie 'message' */
textarea[name="message"] {
    height: 200px;
    resize: none;
}









