.post {
    background-color: #000000;
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border: 2px solid #808080;
    margin-left: 40%; 
}

.msg_date_hour {
    color: red;
    font-size: 0.8em;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.pseudo {
    color: #FFA500;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.msg_posted {
    color: rgb(255, 255, 255);
}

input[type="submit"], #delete_btn_post{
    font-size: 1em;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: #000000;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

input[type="submit"]:hover, #delete_btn_post:hover {
    cursor: pointer;
    background-color: #FFA500;
}
