.vh-100 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #FFA500;
}

.card {
    border-radius: 25px;
}

.form-control {
    border-radius: 25px;
}

.show-password {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}
