form {
    margin: 0 auto;
    max-width: 600px;
    padding: 40px;
    margin-top: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #FFA500;
    border-radius: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    border: none;
    background-color: white;
    color: #1c2022;
    padding: 15px 5px;
    border-radius: 30px;
    margin-bottom: 20px;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    border: none;
    background-color: #1da1f2;
    color: #fff;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #0c85d0;
}

.show-password {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
}

.error {
    display: block;
    color: #f00;
    margin-top: 10px;
}
